/* Christine's Custom Theme*/

/*Pink Top Bar*/
.app-topbar {
	background: #EE1289;
}
/*AND - TOP BAR - Change to Pink and get rid of the black line under the top bar*/
.app-android .app-topbar {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
	background: #EE1289;
}
/*iOS - TOP BAR - Change to Pink*/
.app-ios .app-topbar {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
	background: #EE1289;
	text-shadow: none;
}

/*AND - TOP BAR LEFT BUTTON - Custom UI for end of list "home" button since it was overlapping*/
.app-android .app-topbar .app-button.left {
	padding: 0;
	height: 100%;
	width: 33%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAMAAABf788oAAAAjVBMVEUiIiIjIyMrKysqKioAAACdnZ0mJiYnJyednZ0kJCQoKCgsLCwlJSXLy8vPz8/MzMzJycnNzc3Ozs7GxsagoKCjo6O3t7exsbHIyMisrKzAwMDExMS+vr6ysrLHx8fKysq0tLStra27u7urq6unp6fBwcGoqKjDw8Ourq66urq9vb2fn5/FxcWwsLClpaWY7qkYAAAADXRSTlMAAAAAADMAAJkAAAAAOhxptwAAAMVJREFUeF5d0dVuBTEMBNCZvUWY0OLFMsP/f15lxWqb5i1HijO2cYR6zndKKfWDA7EuksIeFcjVNkv5uaMDPoOkco8KxNkhSmVHwmEKkjSiAjFeW8UJhMNdkOLh2IF4yFbxBYQBebopUtmcsIJnil8gYIBVn6XwCsJhDlJOww8Mi2Xa290hGcy/gJt/T9D1sSlK3IbmW/LisQkG4qmJDhBvxZtzwKim/WZADu9LM0LQGpLKGnRg92Fr2F7y76KiL6qeK1/lN9FpDuyoOMUMAAAAAElFTkSuQmCC);
	background-position: 8px center;
	background-repeat: no-repeat;
	-webkit-background-size: 8px 14px;
	background-size: 8px 14px;
	color: transparent;
}

/*iOS - TOP BAR BUTTONS - Make top bar buttons more like Android*/
.app-ios .app-topbar .app-button {
	margin: 0px;
	height: 44px;
	background: transparent;
	border: none;
	-webkit-box-shadow: none;;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	font-size: 18px;
	line-height: 44px;
}

/*iOS - TOP BAR LEFT BUTTON/HOME - Use custom home button that is the same as Android < */
.app-ios .app-topbar .app-button.left {
	padding: 0;
	height: 100%;
	width: 33%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAMAAABf788oAAAAjVBMVEUiIiIjIyMrKysqKioAAACdnZ0mJiYnJyednZ0kJCQoKCgsLCwlJSXLy8vPz8/MzMzJycnNzc3Ozs7GxsagoKCjo6O3t7exsbHIyMisrKzAwMDExMS+vr6ysrLHx8fKysq0tLStra27u7urq6unp6fBwcGoqKjDw8Ourq66urq9vb2fn5/FxcWwsLClpaWY7qkYAAAADXRSTlMAAAAAADMAAJkAAAAAOhxptwAAAMVJREFUeF5d0dVuBTEMBNCZvUWY0OLFMsP/f15lxWqb5i1HijO2cYR6zndKKfWDA7EuksIeFcjVNkv5uaMDPoOkco8KxNkhSmVHwmEKkjSiAjFeW8UJhMNdkOLh2IF4yFbxBYQBebopUtmcsIJnil8gYIBVn6XwCsJhDlJOww8Mi2Xa290hGcy/gJt/T9D1sSlK3IbmW/LisQkG4qmJDhBvxZtzwKim/WZADu9LM0LQGpLKGnRg92Fr2F7y76KiL6qeK1/lN9FpDuyoOMUMAAAAAElFTkSuQmCC);
	background-position: 8px center;
	background-repeat: no-repeat;
	-webkit-background-size: 8px 14px;
	background-size: 8px 14px;
	color: transparent;
}

/* - SELECTED STATE - Change the selected state of the top bar buttons*/
.app-topbar .app-button.active {
	background: rgba(0, 0, 0, 0.5);
}

/*BOTH - Light Pink content area*/
.app-page, .app-content {
	background: #FFCCCC;
	color: #696969;
}

/*BOTH - Loading gif when waiting for the content area to load*/
.loader{
	height: 100%;
	background-image: url('../img/bigger-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
}

/*BOTH - The carousel dot*/
.dot {
	margin:9px 4px 4px 0;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: inline-block;
}

/*BOTH - The carousel dot*/
.dot.active {
    background: rgba(0, 0, 0, 0.3);
}

#dots{
	text-align: center;
	position: relative;
}

/******** FROM KIK ***********/
/*BOTH - When you open from a kik have purple top bar*/
.fromKikTopBar{
	background: #AA00FF;
}

/*AND - When you open from a kik have purple top bar*/
.app-android .app-topbar.fromKikTopBar{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
	background: #AA00FF;

}

/*iOS - When you open from a kik have purple top bar*/
.app-ios .app-topbar.fromKikTopBar {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
	background: #AA00FF;
	text-shadow: none;
}

/*iOS - SELECTED STATE - Change the selected state of the top bar buttons*/
.app-ios .app-topbar.fromKikTopBar .app-button.active {
	background: #3C3C3C;
}


/*BOTH - When you open from a kik have light purple content area*/
.fromKikSection{
	background: #EED2EE;
	color: #696969;
}

/*AND - TOP BAR LEFT BUTTON - Custom UI for end of list "home" button since it was overlapping*/
.app-topbar.fromKikTopBar .app-button.left {
	padding: 0;
	height: 100%;
	width: 33%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAYAAABoMT8aAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAVhJREFUSEudlVdOxDAQhnMGjpCuJG/cgTPQuyhHWfGExAILBBDlKtSlivLIDbhC0BfJkVFmsitb+mXHM//nxBknHs33fVVhGHpfW1fV70SvpduZfqUCgiCo+6elY9H8unpaERcBmFGWZZ5kRnme1zkqgP5lpRTNw8WjenUR0JindoeSmf0gx+SpgPf185YZ3c3uN6vT/wOYSZIkM1A7D4mAj40LEVCW5aSdhxqAmXyYPxTNz8snrdVR3ZhESZJ439vXLTNzcRw3eSKAC61o7ucOxNVR3RhoRcN+EJfMqAFoRUO9E+8EkCSZTb1rZtQJ4K5IGglg8LZ2JkLGegQGnC4JMNYmmqDzaySA0jR1KyQGJvC4MGgBUGcpmwsT/Ny8FCE/yc7AzkMiwPk420GnD4oduJneEwEjP2nIBLXzwes2eSoAacWFiqLQAQZC7/RjsRVFUcevrV/9AdMBSXutrcrJAAAAAElFTkSuQmCC);
	background-position: 8px center;
	background-repeat: no-repeat;
	-webkit-background-size: 8px 14px;
	background-size: 8px 14px;
	color: transparent;
}


p {
	text-align: left;
	margin-top: 15px;
}
#myImage{
	border-radius: 3px;
	max-width: 100%;
}

